@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;   
    background-color: wheat;
}
h1,h2{
    text-align: center;
    margin: 0px;
}
table{
    margin-left: 300px; 
    border-spacing: 25px;
}
tr,td{
    border-left: 4px solid blue;
}
td:hover{
    border-left: 4px solid green;
}
span{
    color: coral;
}